*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

section{
    position: relative;
    width: 100%;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.logo{
    position: relative;
    max-width: 80px;
}

header ul{
    position: relative;
    list-style-type: none;
  
}

header ul li{
      display: inline-block;
      margin: 3px 20px;
  
}

header ul li a{
    
    font-size: 1.25em;
    font-family: cursive;
    color: rgb(45, 28, 204);
    text-decoration: none;
    text-transform: capitalize;
}

.content{
  
    position: relative;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .text-box{
    position: relative;
   
}

.content .text-box h2{
    font-size:3em ;
    text-transform: capitalize;
    line-height: 1.5em;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content .text-box p{
    display: inline-block;
    font-size: 1em;
    line-height: 25px;
    margin: 12px 0 12px 0;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content .text-box span{
    font-size: 1em;
    line-height: 20px;
    font-weight: 900;
    color: green;
    font-family: sans-serif;
}

.content .text-box a{
    display: inline-block;
    background-color: green;
    color: white;
    font-size: 1em;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: sans-serif;
    margin-top: 12px;
    padding: 10px 16px;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 20px;
}

.content .text-box a:hover{
    background-color: rgb(15, 156, 15);
}

.content .img-box{
   
    margin-top: 20px;
    padding-right: 50px;
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    
}

.thumb li{
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.5s;
}

.thumb li img{
    max-width: 60px;
}

.thumb li:hover{
    transform:translateY(-15px);
}

.sci{
  
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
  
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    margin: 8px 5px;
    transform: scale(0.6);
    filter: invert(100%);
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: #006400;
    clip-path: circle(600px at right 760px);
}

/* .toggle-button{
    border: 1px solid black;
    position: absolute;
    top: 3px;
    display: flex;
    justify-content: center;
    height: 10px;
    width: 20px;
    background-color: black;
}

.toggle-button .bar{
    height: 3px;
    width: 5px;
    background-color: blanchedalmond;
} */

.toggle-button{
    /* border: 1px solid black; */
   
    position: absolute;
    top: 30px;
    right: 10px;
    height: auto;
    width: 34px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.toggle-button span{
    /* border: 1px solid rgb(255, 251, 7); */
    display: none;
    /* display: flex; */
    margin: 4px 0px;
    height: 4px;
    background-color: rgb(0, 0, 0);
}





@media screen and (max-width:768px){
    .toggle-button span{
        display: flex;

    }

    header{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 10px 0px;
    }
    header ul{
        /* display: flex; */
        display: none;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-color: aqua;
    }

    .content .text-box{
        position: absolute;
    font-size: 0.6em;
    margin-left: -63px;
    margin-right: 216px;
    }

    .img-box{
        width: auto;
    }

    .img-box img{
        width: 300px;
    }
   
}